.category {
   .note {
      margin: 15px;
      background-color: #28DBBB;
      color: $main-light;
      padding: 10px;
      border-radius: 10px;

      .icn {
         font-size: 36px;
      }

      .con {
         padding-left: 10px;
         
         span {
            font-weight: bold;
         }
         p {
            margin-bottom: 0px;
         }
      }
   }
   
   .cat-form {
      margin: 10px 0px;
      padding: 10px;
      background-color: $second-light;
      box-shadow: none;
      border-radius: 10px;
      
      input {
         background-color: $white;
      }
   }
}