.dashboard {
   .overview {
      width: 100%;

      .tab {
         width: 25%;
      }

      .info {
         margin: 10px;
         padding: 15px 20px;
         background-color: $white;
         border-radius: 5px;
         box-shadow: $box-shadaw;

         .icon {
            border-radius: 25px;
            padding: 10px;
            background-color: #E8FCFC;
         }

         p {
            font-size: 20px;
            margin-bottom: 0px;
            font-weight: 600;
         }

         span {
            font-size: 13px;
            color: $second-text;
         }
      }
   }

   .sec-2 {
      .col-1 {
         width: 75%;

         .chart {
            background-color: $white;
            margin: 10px;
            border-radius: 5px;
            box-shadow: $box-shadaw;
         }
      }

      .col-2 {
         width: 25%;
         margin: 10px 0px;

         .user-li {
            background-color: $white;
            margin: 0px 10px;
            padding: 30px 20px;
            border-radius: 5px;
            height: 100%;
            box-shadow: $box-shadaw;

            img {
               width: 25px;
               height: 25px;
               border-radius: 25px;
            }
         }
      }
   }
   

   
}