.login {
   height: 100vh;

   .content-login {
      border: 1px solid #E2E3E9;
      background-color: $second-light;
      width: 50%;
      height: auto;
      border-radius: 10px;

      /* input {
         background-color: #fff;
         box-shadow: none;
         border: 1px solid #E2E3E9;
      } */

      .logo {
         padding: 20px 10px;

         img {
            width: 100%;
         }
      }
   }
}