.msgs {
   .msgs-con {
      box-shadow: none;
      background-color: $second-light;
      border-radius: 5px;
      margin: 15px;
      
      .dropdown-divider {
         margin: 0px;
      }

      .msg {
         a {
            text-decoration: none;
            color: #000;
         }
         .msg-info {
            width: 100%;
            padding: 10px;

            .usr-det {
               width: 90%;
               padding: 10px;

               p {
                  width: 100%;
                  color: #444;
                  font-size: 15px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin-bottom: 0px;
               }

               label {
                  display: block;
                  font-weight: 500;
                  margin: 8px 0px;
                  font-size: 15px;
               }

               span {
                  color: #555;
                  font-size: 13px;
               }
            }
         }
      }

      .show-mgs {
         padding: 15px;

         span {
            font-size: 13px;
            color: #555;
         }
         
         label {
            display: block;
            font-weight: 500;
            margin: 8px 0px;
            font-size: 15px;
         }

         p {
            margin-top: 10px;
            color: #333;
         }
      }
   }
}