nav {
   width: calc(100% - 93%);
   background-color: $white;
   border-right: 1px solid #E2E3E9;

   .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
         width: 80%;
      }
   }

   #exit {
      display: none;
      color: $main;
      position: absolute;
      font-size: 20px;
      right: 30px;
      top: 20px;
   }

   .cont-nav {
      padding: 10px;

      .brand {
         width: 80%;

         img {
            width: 100%;

         }
      }

      .nav-link {
         border-radius: 10px;

         &.active {
            background-color: $white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         }
      }
   }
}