$main: #1CD4D4;
$main-hover: #30ADAD;
$second: #573CEE;
$bg-main: #d6e5ff;
$white: #FFF;
$text: #2E334F;
$second-text: #858C94;
$main-light: #F6F8FA;
$second-light: #F7F7F7;
$box-shadaw: 0px 4.85131px 9.70262px rgba(0, 0, 0, 0.02), 0px 2.42565px 7.27697px rgba(0, 0, 0, 0.02), 0px 0px 1.21283px rgba(0, 0, 0, 0.03);

* {
   font-family: 'Roboto', sans-serif;
   padding: 0px;
   margin: 0px;
}

body {
   color: $text;
   background-color: $main-light;
}

.content {
   width: calc(100% - 7%);
   position: absolute;
   right: 0px;

   .header {
      padding: 15px 10px;

      img{
         width: 40px;
         height: 40px;
         border-radius: 50%;
      }
      
      .tit {
         span {
            font-size: 18px;
            font-weight: 700; 
         }
         p {
            color: $second-text;
            font-size: 14px;
         }
      }
   }
}

.table-responsive {
   margin: 10px;
}

.table {
   margin-bottom: 0px;

   thead {
      background-color: $white;

      tr {
         vertical-align: middle;

         th {
            border-bottom: none;
            padding: .8rem .5rem;
            color: #222;

            &:first-child {
               border-top-left-radius: 12px;
               border-bottom-left-radius: 12px;
            }
            &:last-child {
               border-top-right-radius: 12px;
               border-bottom-right-radius: 12px;               
            }
         }
         
      }
   }
   & > :not(:first-child) {
      border-top: none;
   }

   tbody {
      .id {
         font-weight: 500;
         color: #555;
      }
      tr {
         vertical-align: middle;
         font-size: 15px;
         color: #000;
      }
   }
   
   i {
      font-size: 21px;
      margin: 0px 5px;
      transition: .2s;
   }

   .icn-edit {
      color: #28DBBB;

      &:hover {
         color: #23C4A6;
      }
   }

   .icn-dlt {
      cursor: pointer;
      color: #FF3A3A;

      &:hover {
         color: #E23442;
      }
   }
}

/* Bootstrap Config  */
.btn-primary {
   background-color: $main;
   border-color: $main;
   font-weight: 500;

   &:hover, &:focus, &:active:focus {
      background-color: $main-hover;
      border-color: $main-hover;
      box-shadow: none;
   }
}

.btn-danger {
   background-color: #FF3A3A;
   border: 1px solid #FF3A3A;

   &:hover , &:focus, &:active:focus {
      background-color: #E23442;
      border-color: #E23442;
      box-shadow: none;
   }
}

.btn-success {
   background-color: #28DBBB;
   border: 1px solid #28DBBB;

   i {
      position: relative;
      top: 3px;
      font-size: 21px;
   }

   &:hover , &:focus, &:active:focus {
      background-color: #23C4A6;
      border-color: #23C4A6;
      box-shadow: none;
   }
}

.dropdown {
   .dropdown-item {
      cursor: pointer;

      &:hover {
         background-color: $main;
         color: $main-light;
      }
   }
}

.form-control {
   border: 1px solid #E2E3E9;
   background-color: $white;
   border-radius: .30rem;
   box-shadow: none;

   &:focus {
      border-color: $main;
      box-shadow: none;
      background-color: $main-light;
   }
}

.form-select {
   &:focus {
      border-color: $main;
      box-shadow: none;
      background-color: $main-light;
   }
}

.conf-alert {
   height: 100vh;
   width: 100%;
   display: none;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 1111;
   backdrop-filter: blur(5px);

   .confirm-msg {
      background-color: $white;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: $box-shadaw;
      
      span {
         font-size: 20px;
         font-weight: 500;
         padding: 10px 30px 30px 00px;
         display: block;
      }
   }
}



@import "alert";

@import "navbar";

@import "login";

@import "dashboard";

@import "inventory";

@import "purchase";

@import "customers";

@import "messages";

@import "category";

@import "settings";



@media screen and (max-width: 825px) {
   .login {
      .content-login {
         width: 80%;
      }
   }
   .content {
      width: calc(100% - 15%)
   }

   nav {
      width: calc(100% - 85%)
   }

   .dashboard {
      .overview {
         .tab {
            width: 100%;
         }
      }

      .sec-2 {
         flex-wrap: wrap;
         .col-1 {
            width: 100%;
         }
   
         .col-2 {
            width: 100%;
         }
      }
   }

   .inventory {
      .inv-form {
         .add-images {
            .row-me {
               justify-content: center;
               .img-ls {
                  width: 47%;
               }
            }
         }
      }
      .inv-opt{
         justify-content: center;
         flex-direction: column;

         a {
            width: 100%;
            margin: 5px 0px;
         }
      }
   }

   
   .control {
      justify-content: center !important;
   }
}