.dashboard {
   .overview {
      width: 100%;

      .tab {
         width: 47%;
         margin: 10px;
         padding: 5px;
         background-color: $second-light;
         border-radius: 10px;
         box-shadow: $border;

         .itm {
            width: 50%;
            margin: 10px;
            display: flex;
            align-items: center;

            i {
               font-size: 23px;
               padding: 15px;
               border-radius: 10px;
            }

            .res {
               margin-left: 10px;

               p {
                  margin-bottom: 0px;
                  color: #777;
               }
               span {
                  font-size: 20px;
                  font-weight: 700;
               }

            }
         }
      }

      /* The First Tab */
      & > .tab:nth-child(1) > .row-m:nth-child(2) > .itm:nth-child(1) > i {
         background-color: #D7FCFE;
         color: #37B5F0
      }
      & > .tab:nth-child(1) > .row-m:nth-child(2) > .itm:nth-child(2) > i {
         background-color: #fff0BD;
         color: #F9B125
      }
      & > .tab:nth-child(1) > .row-m:nth-child(3) > .itm:nth-child(1) > i {
         background-color: #fde7d3;
         color: #FD946B
      }
      & > .tab:nth-child(1) > .row-m:nth-child(3) > .itm:nth-child(2) > i {
         background-color: #d0fae7;
         color: #43AAA0
      }

      /* The Second Tab */
      & > .tab:nth-child(2) > .row-m:nth-child(2) > .itm:nth-child(1) > i {
         background-color: #F8DCFE;
         color: #B550FC
      }
      & > .tab:nth-child(2) > .row-m:nth-child(2) > .itm:nth-child(2) > i {
         background-color: #fDE7DD;
         color: #E37076
      }
      & > .tab:nth-child(2) > .row-m:nth-child(3) > .itm:nth-child(1) > i {
         background-color: #fADDE7;
         color: #C906A3
      }
      & > .tab:nth-child(2) > .row-m:nth-child(3) > .itm:nth-child(2) > i {
         background-color: #E4D9FF;
         color: #643AFF
      }
   }

   .chart {
      margin: 18px;
      padding: 10px;
      background-color: $second-light;
      border-radius: 10px;
      box-shadow: $border
   }
}